snippet tds
	// TODO: @s0ngkran hi ho

snippet maint
	def test():
    	$1

	if __name__ == '__main__':
    	test()

snippet main
	def main():
    	$1

	if __name__ == '__main__':
    	main()

snippet def
	def $1():
	    # code here

snippet p
	print('$1')
